.title {
    color: #0f6e0a;
    display: flex;
    text-align: start;
    margin: 0;
&__2{
    color: white;
    display: flex;
    align-items: start;
    margin: 0;  
}
&__3{
    display: inline;
    justify-content: start;
    color: rgb(161, 20, 20);
    margin: 0;
}
}

.portada{
    background-color: black;
    background-image: url(../assets/img/village-g83e33e360_1920.jpg);
    background-size: cover;
    height: 700px;
    background-position: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
&__boton{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
&__descr{
    color: white;
    width: 100px;
    text-align: center;
    margin-top: 180px;
    width: 100%;
    transition: transform 1s;
}
&__descr:hover{
    transform: scale(0.9);
}
&__botonstl{
    width: 270px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
}   
    

